# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/*.tfvars

# Secrets / local configs
**/*secret*
**/*key*
**/config.yaml
**/config.json
**/config.ini
**/.env
**/.env.*

# OS/Editor
.vscode/
.DS_Store
Thumbs.db
**/__pycache__/
**/*.pyc

# local memo
memo/


# RAG data (never commit)
rag_data/
**/chunks.jsonl
**/*.jsonl
**/*.pdf
**/*.faiss
**/*.npy
scripts/rag/index/
logs/
