# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/*.tfvars

# Secrets / local configs
**/*secret*
**/*key*
**/config.yaml
**/config.json
**/config.ini
**/.env
**/.env.*

# OS/Editor
.vscode/
.DS_Store
Thumbs.db

# local memo
memo/


# local-only json (do not commit)
infra/root/body.json
infra/root/converse.json

